<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="is-offset {% unless site.typekit_kit_id %}wf-inactive{% endunless %}">
        {% include header.html %}
        <section role="main">
            {{ content }}
        </section>
        {% include footer.html %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-53734280-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript" src="{{ site.baseurl }}https://mengzhek.github.io/travelkang1.github.io/js/galileo.js"></script>
    </body>
</html>
